
body {
    font-family: Times new Roman;
    text-align: center;
    background-color: #333;
    padding: 0;
    margin: 0;
    background-size: 1400px 700px;
    background-image: url("https://drive.google.com/file/d/1JNtMhmKVbjW_ptGUXfXt1R1FgpjwzcHm/view");
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1PX solid #000;
    align-items: right;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: right;
}


ul li {
    margin-left: 12px;
}

ul li a {
    color: #004;
}

h1 {
    font-size: 32px;
}

footer {
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}
#page_header {
    background-color: #666;
    align-items: right;
}